# Build directories
build/
out/
cmake-build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/

# Compiled binaries
main
rv32i
test_decode
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dylib
*.dll

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
